@model LicenseVerification.Models.IndividualData
@{
    ViewBag.Title = "Home Page";
}

<form action="@Url.Action("Analyse", "Home")" id="mainForm" enctype="multipart/form-data" class="container" method="post">

    <div class="container" style="margin-top: 20px;">
        <div class="row">
            <div class='col-md-6'>
                <p>Upload Your License</p>
                <input type="file" name="Image" accept="image/*" onchange="readURL(this);" style="margin-bottom: 20px" required>
                <img id="imageShow" src="#" alt="Your Image is Here" class="img-responsive" style="border: #00008B 1px solid; max-height: 300px" />
            </div>
            <div class='col-md-6'>
                <p>Please Type Your Name</p>
                <input name="Name" type="text" placeholder="your name" required />
                <p>Choose your B.O.D</p>
                <input name="Birthday" type="date" placeholder="your birthday" required>
            </div>
        </div>
        <br />
        <div class="col-md-12 row">
            <button class="btn btn-default" type="submit">Analyse Image</button>
        </div>

    </div>
 </form>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imageShow')
                    .attr('src', e.target.result);

            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    $(function() {
        $('form').submit(function(event) {

            event.preventDefault();

            if ($(this).valid()) {
                var formdata = new FormData($(this).get(0));

                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: formdata,
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        alert("something");
                        // element is div holding the ParticalView
                    },
                    complete: function() {
                    }
                });
            }
            return false;
        });

    });
</script>
