@model LicenseVerification.Models.IndividualData
@{
    ViewBag.Title = "research Page";
}

<div class="jumbotron" style="margin-top: 20px;">
    <div>
        <div class="row">
            <div class="form-group">
                <span>contrast</span>
                <input name="FirstName" class="form-control" type="text" value="80/20 rule between text and background" readonly="readonly"/>
                <span>Resolution</span>
                <input name="FirstName" class="form-control" type="text" value="300 DPI" readonly="readonly"/>
                <span>Color</span>
                <input name="FirstName" class="form-control" type="text" value="grayscale" readonly="readonly"/>
                <span>Compression</span>
                <input name="FirstName" class="form-control" type="text" value="uncompressed TIFF or PNG" readonly="readonly"/>
                <span>Brightness</span>
                <input name="FirstName" class="form-control" type="text" value="50%" readonly="readonly" />
            </div>

        </div>
    
    </div>

    <hr />








 
</div>
<div class="loader" style="display: none"></div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/Index/Index.js"></script>
